
@media (max-width:600px){

h1{
  font-size: 2.6rem;
}

h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.7rem;
  text-transform: capitalize;
}
h5{
  font-size: 2rem;
}
h6{
  font-size: 1.5rem;
}
  /* BOTÓN MENÚ */

  .menu-fondo img{
    width: 5rem;
  }

  .menu-arriba{
    transform: translate(-1%, -50%);
  }

  .menu-arriba img{
    width: 60%;
  }

  .menu-arriba span{
    font-size: 0.75rem;
  }


  /* CONTENIDO menú oculto */

  header {
  overflow: hidden;
}
  .contenido-menu{
   height: 55rem;
    justify-content: center;
    gap: 6rem;
    position: relative;
    top: -10%;
  }
  #xresponsive{
   display: none;
   }
  
  .menu-cuerpo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    height: auto;
    padding-top: 6rem;
    gap: 2rem;
  }
  .texto-apoyo-horizontal{
    justify-content: space-evenly;
    padding: 4rem 1rem 1rem;
    height: 20%;
    gap: 2rem;
}

  .texto-apoyo-vertical-izquierda{
   display: none;
  }

  .titulo-secundario{
    margin: 0;
    gap: 0.5rem;
  }
  .titulo-secundario h1{
    font-size: clamp(3rem, 10vw, 5rem);
    text-align: center;
  }

  .linea-vertical{
    display: none;
  }
  .menu-nav{
    width: 100%;
    align-items: center;
  }
  .menu-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .menu-nav a{
    margin-left: 0;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    text-align: center;
  }


  .subtitulo-lineas{
    gap: 0.5rem;
  }

  hr{
    width: 30px;
  }
/*hero*/
.hero-container{position: relative;
    overflow: hidden;
    height: fit-content;
    top: 0;
    left: 0;
    padding-bottom: 0;
}
.hero{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.parallax{
  position: absolute;
  top: 0;
  inset: 0;
  height: 120%;
  z-index: 1;
  overflow: hidden;
}
.capa{
     filter: brightness(55%);  
    position: absolute;
    top: 0;
    min-height: 85vh;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-size: 180%;        
    background-position: 63% 0%;
    background-repeat: no-repeat;
    will-change: transform;

}
.hero-intro img{
    max-width: 180px;
}
.hero-intro h2{
    width: 50%;
    text-align: center;
}
.intro {
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 25% 0%;
    position: relative;
    width: 100%;
    padding-top: 6rem;
    height: 26rem;
    top: 1.8rem;
    gap: 1rem;
    z-index: 20;
}


.text-intro {
    padding: 1rem 3rem;
}
.text-historia {
    padding: 1rem 2rem;
}
.historia{
  z-index: 2;
  background-image: url(IMG/FONDO-LINEA.png);
  background-position: 15% 80%;
  background-size: 800%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  height: 52rem;
  gap: 1rem;
  top: 17rem;
}

.texto-apoyo-horizontal{
   padding: 1rem 1rem;
    height: fit-content;

}
.apartado-imagen{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  margin-top: -3rem;
  
}
.apartado-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 0rem;
}

.texto-apoyo-vertical-izquierda-historia{
  display: none;
}
.imagen-texto{
  width: 100%;
}
.img_scroll{
  width: 100%;
  height: auto;
}
.container{
  z-index: 1;
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 50rem;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 0px;
    top:3rem;
    margin-bottom: -8rem;
    overflow: hidden;
}
.capa-cta {
  height: 45rem;
  background-size: 300%;
  background-position: 51% 80%;
  z-index: 1;
  will-change: transform;
  top: 23rem;
  overflow: hidden;
}
.frase{
  display: none;
}
.CTA { 
    background-image: url(IMG/FONO-CTA.png);
    border-radius: 1rem;
    background-size: 150%;
    width: 85%;
    height: 16vh;
    margin-top: 100px;
    z-index: 10;
}
  
.titulo-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
}
.txt-principal h4{
  display: flex;
  justify-content: center;
  color: var(--color-titulo-acento1);
}
.txt-apoyo{
  gap: 0.5rem;
  position: relative;
  top: -3rem;
  height: 9rem; 
}
.txt-apoyo-vertical{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.txt-apoyo1 {
  position: relative;
}

.txt-apoyo2 {
  position: relative;
  top: -14px; 
}
.txt-final {
  position: relative;
  top: -2px; 
}

.txt-boton{
  width: 10rem;
  height: 50%;
  transform: translatex(-0.5rem);
}
.boton {
    transform: translateY(-4.7rem);
    text-decoration: none;
}
.boton img{
  height: 50px;
  width: auto;
  transform: translateX(0.2rem);
  z-index: 99;
}
.boton span{
  transform: translatex(0.4rem);
  font-size: 1rem;
}

footer{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 22rem;
  gap: 0rem;
  overflow: hidden;
}
.contenido-footer{
  gap: 1rem;
 margin: 5rem 3rem 3rem 3rem;
}
.resumen{
  display: none;
}
.linea-vertical-footer{
  display: none;
}
.footer-nav{
transform: translateX(-0.7rem);
  gap: 1rem;
  
}

.footer-nav-columnas{
  gap: 3rem;
  margin-left: 1.5rem;
}
.footer-nav-columnas div{
  gap: 2 rem ;
}

#linea-footer{

  border: none;
  border-top: 0.5px solid var(--amarillo);
   width: 90%;
}
.creditos h2{
  text-align: center;
  margin: 1rem;
}

/*interna websodios*/
.logo-fijo{
  margin: 1.5rem 1rem;
  width: 3.5rem;
}
.hero-container-internas{
  position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-bottom: 0;
    overflow: hidden;
}
.parallax-intro-websodios{
  position: absolute;
  top: 0;
  inset: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.capaw {
    position: absolute;
    top: 0;
    height: cover;
    width: 100%;
    height: 100%;
    background-size: 180%;        
    background-position: 63% 0%;
    background-repeat: no-repeat;
    will-change: transform;
    overflow: hidden;

}
.intro-internaw {
  margin-top: 9rem;
  gap: 1rem;
  transform:translateX(0%);
  overflow: hidden;
}
.intro-internaw h2{
  padding: 0 3rem;
  text-align: center;
}
.txt-apoyo-intro{
  gap: 0.5rem;
  transform: translateY(-18px);
  margin-left: 1rem;
  margin-bottom: -2%;
}
.txt-rotado-vertical-intro{
  position: absolute;
  transform: rotate(-90deg);
  left: -1.7rem;
  top: 29%;
  transform-origin: center;
}
.txt-apoyo-iz-intro h6{
  position: relative;
  right: 0.4rem;
  font-size: 1.2rem;
  transform: translatey(0px);
}
.txt-apoyo-iz-intro {
  font-size: 1.2rem;
  transform: translatey(6px);
}
.txt-rotado-vertical-intro h6{
  font-size: 1.2rem;
}
.txt-apoyo-iz-intro h5{
  font-size: 1.5rem;
}
.websodios{
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 35.5rem;
    top: 0;
    gap: 1rem;
    z-index: 20;
    overflow: hidden;
  gap: 1rem;
  top: -16rem;
}
.color-web{
  font-size: 2.6rem;
}
.titulo-version-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 10rem;
  justify-content: center;
}
.contenedor-videos{
  gap: 1rem;
  padding: 1rem 1rem;
  margin-left: 1rem;
}
.episodio{
    height: auto;
    width: 100%;
  flex: 0 0 100%;
}
video{
  display:flex;
  height: 10rem;
  width: auto;
  display: block;
}
.info-episodio-icon{
  width: 35px;
  top: 0.1px;
}
/* PANEL OCULTO */
.info-episodio{

  padding: 2rem 0.9rem;
}
.info-episodio h6{
  font-size: 1.8rem;
  line-height: 2rem;
 display: flex;
 text-align: center;
  margin:  0; 
  margin-top: 2rem;
  margin-bottom: 1rem;
  transform: translateY(0%);
}
.subtitulo-lineas h2 {
  text-align: center;
}
.texto-intro-websodios{
  display: none;
}
.alinear-centro{
  text-align: end;
}
.container-cta-internas{
  z-index: 1;
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 68rem;
    justify-content: center;
    align-items: center;
    gap: 0rem;

    overflow: hidden;
    top: -38rem;
    margin-bottom: -54rem;
}
.capa-cta-websodios {
  height: cover;
  background-size: 300%;
  z-index: 1;
  will-change: transform;
  top: -18rem;
    background-position: 25% 58%;
    overflow: hidden;
}
#xpc {
  display: flex;
}

/*INTERNA MAPA*/
.parallax-intro-mapa{
  position: absolute;
  top: 0;
  inset: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.capam{
    position: absolute;
    filter: brightness(50%);
    top: 0;
    height: cover;
    width: 100%;
    height: 100%;
    background-size: 154%;        
    background-position: 60% 0%;
    background-repeat: no-repeat;
    will-change: transform;
    overflow: hidden;

}
.txt-medio-intro-internas{
  transform: translateY(2.5rem);
  align-items: center;
  justify-content: center;
}
.txt-principal-intro h3{
 transform: translatey(-6px);
 margin-left: -0.4rem;
}
.mapa{
  top: -20rem;
  height: 41rem;
  background-size: 400%;
  overflow: hidden;
  background-position-y: 1rem;
  gap: 1rem;
}
.img-mapa{
  margin-top: 1rem;
  width: 90%;
  height: auto;
}
.icono-boton{
  width: 28px;
}
.foto-mapa-2{
  top: 16rem;
  left: 26.6rem;
}
.foto-mapa-3{
  top: 11.5rem;
  left: 29rem;
}

.foto-mapa-6{
  top: 5.8rem;
  left: 31.5rem;
}
.foto-mapa-7{
  top: 12rem;
  left: 25.4rem;
}
.foto-mapa-11{
  top: 13rem;
  left: 18rem;
}
.foto-mapa-13{
  top: 6.4rem;
  left: 23rem;
}
.foto-mapa-d{
  top: 14rem;
  left: 24.2rem;
}
.foto-mapa-e{
  top: 12rem;
  left: 31.5rem;
}
.convenciones-1 img{
  width: 20px;
}
.convenciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
}
.capa-cta-mapa {
  height: cover;
  background-size: 350%;
  z-index: 1;
  will-change: transform;
  top: -28rem;
    background-position: 58% 60%;
    overflow: hidden;
}
/*archivo vivo*/
.contenido-archivovivo{
  top: -20rem;
  height: 47rem;
  background-size: 455%;
  overflow: hidden;
  background-position-y: 1rem;
  gap: 1rem;
}
.contenedor-feed{
  top: -4rem;
  padding-top: -5rem;
  margin-bottom: -3rem;
}
/*INTERNA archivo*/
.parallax-intro-archivo{
  position: absolute;
  top: 0;
  inset: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.capaArchivo{
    position: absolute;
    filter: brightness(49%);
    top: 0;
    height: cover;
    width: 100%;
    height: 100%;
    background-size: 340%;        
    background-position: 16% 0%;
    background-repeat: no-repeat;
    will-change: transform;
    overflow: hidden;

}
.capa-cta-archivo {
  height: cover;
  background-size: 340%;
  z-index: 1;
  will-change: transform;
  top: -26rem;
    background-position: 75% 60%;
    overflow: hidden;
}
/*interna postales*/
.txt-rotado-vertical-intro-postal{
  position: absolute;
  transform: rotate(-90deg);
  left: 14px;
  top: 27%;
  transform-origin: center;
}

.txt-apoyo-intro-postales{
  gap: 0.5rem;
  transform: translateY(1rem);
  margin-left: -0.2rem;
  margin-bottom: 0%;
}
.titulo-principal-postales{
  display: flex;
  flex-direction: column;

}
/*internas postales*/
.hero-container-interna-postales{
background-repeat: no-repeat;
  background-size: 550%;
 background-position: 5% 10%;
   position: relative;
  overflow: hidden;
  height: 58rem;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}
.foto-intro-postales{
  background-image: url(IMG/Foto-intro-postales.jpg) ;
  filter: brightness(50%);
  
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 100% -4%;
  position: absolute;
  right: -2rem;
  width: 22rem;
  height: 100rem;
  top: -1rem;
  overflow: hidden;
}
.intro-interna-postales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14.5rem;
  gap: 4rem;
  margin-left: 0rem;
  overflow: hidden;
}
.intro-interna-postales h2{
  margin-top: -3rem;
  gap: 4rem;
  margin-left: 0rem;
}
.hero-container-interna-postales p {
  text-align: justify;
  margin: 20rem 1.5rem;  
}
.container-parallax-carros {
    position: relative;
    overflow: hidden;
    height: 25rem;
}
.capa-carros-postales {
  top: -5rem;
    bottom: -10rem;
    background-size: 300%;
    background-position: 100%;
    overflow: hidden;
    height: 50rem;
}
.selector-postales{
  height: 58.5rem;
  background-image: url(IMG/FONDOMENÚ.png);
  background-size: 900%;
  background-position-y: -1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.opciones-postales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
  margin-top: 2rem;
}
.opcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.opcion img{
  width: 120px;
  height: auto;
  border-radius: var(--borde-s);
}
.opcion div{
  gap: 0.5rem;
  display:flex;
  flex-direction: row;
}
.frases-postales div{
  background-color: var(--verde-oliva-medio);
  border-radius: var(--borde-s);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.frases-postales{
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 6rem;
  height: 8rem;
  width:16rem ;
}
#btn-crear-postal {
    position: relative;
    z-index: 10;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    top: 3rem;
    right: -2.5rem;
}
.contenedor-resultado-postal {
  display: none; 
  perspective: 1500px; 
  transform: translateY(-1rem);
  width: 16rem;       /* 🚀 Subimos de 550px a 700px (Cámbialo al tamaño que desees) */
  height: 16rem;      /* 🚀 Subimos de 380px a 480px (Proporción postal estándar) */
  margin: 5rem auto; 
  opacity: 0; 
  transition: opacity 0.6s ease-in-out;
}

.contenedor-guia-postal{
  background-image: url(IMG/Postal-referencia.jpg);
  transform: translateY(-1rem);
  background-size: 250%;
  background-position: 80% 72%;
  width: 16rem;      
  height: 14rem; 
  border-radius: var(--borde-m);
}
.txt-apoyo-postales {
    position: relative;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(6rem);
    right: -1rem;

}
.intro{
  border-radius: 0;
}
.parallax-resultado-postal{
  position: absolute;
  inset: 0;
  height: 90rem;
  z-index: 1;
}
.capap{
  position: absolute;
  top: 4rem;
  left: -10;
  width: 100%;
  height: 121%;
  background-size: 300%;
  background-position: 0% -13%;
  background-repeat: no-repeat;
  will-change: transform;
}
.CTA-cierre{ 
    background-image: url(IMG/FONO-CTA.png);
    border-radius: 1rem;
    background-size: 150%;
    width: 85%;
    height: 16vh;
    margin-top: 8rem;
    z-index: 10;
    margin-bottom: 8rem;
    transform: translateX(-3.7rem);
}
.txt-apoyo-intro-postales{

}
.render-texto-contenedor {
  position: absolute;
  top: 2.5rem;
  left: -1.5rem;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;      
  justify-content: flex-start; 
  padding: 0 3.5rem;        
  box-sizing: border-box;
}



}